@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none; 
}
/* ___________________________ Index.html______________________________ */
body{
    background-image: linear-gradient(90deg, rgb(37, 37, 37), rgb(0, 0, 0), rgb(37,37,37), #bc6561, rgb(109, 66, 66));
}
/* ______________________ FIM Body _____________________________*/ 
header{
    background-image: linear-gradient(40deg,  rgb(37, 37, 37), rgb(0, 0, 0), rgb(37,37,37), #bc6561, rgb(37,37,37));
    height: 110px;
    display: flex;
    justify-content: space-between;
}

#logo_top{
    width: 300px;
    height: auto;
    margin:auto;
    transition: 0.5s;
    
}
#navcima{
    width: 600px;
    margin: auto;
}

ul{
    display: flex;
    justify-content: space-between;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    
}

li{
    color: aliceblue;
    transition: 0.5s;
}

li:hover{
    color:  #bc6561;
    border-color: black;
}

li:active{
    color:  #bc6561;
}

/* _____________________________Fim do Header________________________________________________ */

main{
    background-image: url('./midias/Evelyn.png');
    background-size: cover;
    background-position: 0px -90px;
    height: 510px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

#centro{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.475);
    background-size: cover;
    align-items: center;
    display: flex;
    justify-content: center;
}

.textos{
    margin: 30px 30px 50px 30px;
    width: 600px;
    height: 250px;
    color:white;
    background-color: rgba(0, 0, 0, 0.361);
    border-radius: 20px;
    padding: 10px;
    font-family: 'Darker Grotesque', sans-serif;
}

#txtcentro1{
    padding-bottom: 30px;
    font-size: 50px;
    font-family: 'Tangerine', cursive;
    text-align: center;
}

#txtcentro2{
    font-size: 26px;
    text-align: center;
    letter-spacing: 0.1px;
}

.txtagenda{
    color:white;
    text-decoration: underline;
    transition: 0.2s;
}

.txtagenda:hover{
    color:  #bc6561;
}

video{
    width: 600px;
    margin: 30px;
    padding-top: 15px;
    border-radius: 30px;
    box-shadow: 6px 4px rgba(0, 0, 0, 0.44);
}

.redessociais{
    text-align: center;
}

#logoredes{
    width: 40px;
    height: 40px;
}
/* ________________________FIM do Main____________________ */

footer{
    color: white;
    height: 50px;
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin: auto;
    align-items: center;
    font-style: italic;
}

.github{
    color: rgb(0, 0, 0);
}
#Desenvolvido{
    color: black;
}

.navbaixo{
    display: none;
}

/* ______________________FIM do Index.html______________________ */

/* ___________________Videos.html______________________ */
.center-videos{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.537);
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

iframe{
    margin: 10px 20px 10px 5px;
    width: 400px;
    height: 180px;
    border-radius: 10px;
}
/* __________FIM Videos.html_______________________*/

/* __________INICIO Agenda.html_____________________ */

.centroagenda{
    display: flex;
    width: 100%;

}

.fotolateral{
    width: 350px;
}

.agendamento{
    background-image: linear-gradient(90deg, rgb(3, 3, 3),#bc6561,rgb(0, 0, 0));
    display: flex;
    width: 800px;
    padding: 10px;
}

.p1{
    width: 200px;
    text-align: end;
    font-size: 25px;
    color: white;
}
.p2{
    font-size: 20px;
    width: 400px;
    text-align: start;
    margin-left: 10px;
}
.pagen{
    margin-bottom: 5px;
}
.inputag{
    border-radius: 10px;
    padding: 0 10px 0 10px;
    margin-bottom: 11px;
    height: 15px;
    width: 300px;
}

textarea{
    width: 300px;
    height: 250px;
    border-radius: 10px;
    padding: 2px 10px 10px 10px;
}

#um{
    margin-bottom: 11px;      
}
#mais{
    margin: 0 2px 8px 10px;
}

#horainicio, #horafinal, #data{
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 0 10px 0 10px;

}