@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');

@media(max-width: 780px) {
    body{
        width: 100%;
        height: auto;
    }
    #navcima{
        display: none;
    }
    
    /* ______Fim do Header_________ */

    main{
        width: 100%;
        height: 535px;
        background-position:-280px 0px ;
    }

    #centro{
        display: block;
        height: 535px;
    }
    .textos{
        background: transparent;
        position: relative;
        top: 10px;
        margin:auto;
        padding: 10px;
        width: 90%;
        height: 200px;

    }

    #txtcentro1{
        font-family: 'Tangerine', cursive;
        font-size: 35px;
        padding-bottom: 10px;
        text-align: center;
        
    }

    #txtcentro2{
        font-size: 21.5px;
    }

    video{
        width: 93.5%;
        height: auto;
        padding: 0;
        margin: 20px auto 0 10px;
    }

    .redessociais{
        padding-top: 10px;
    }
    #logoredes{
        padding: 0 10px 0 10px;
    }

    /* _______Fim do Main___________ */
    
    footer{
        display: block;
        width: 100%;
        height: 120px;
        padding-top: 10px;
    }

    .navbaixo{
        display: flex;
        font-style: normal;
        font-size: 20px;
        width: 335px;
        margin: auto;
        margin-bottom: 10px;
    }

    li{
        margin: 0 25px 0 0;
    }

    .direitos{
        width: 50%;
        text-align: center;
        margin: auto;
    }
    #Desenvolvido{
        width: 260px;
        margin-top: 10px;
        margin: auto;
        text-align: center;
        background-color: rgba(195, 192, 186, 0.509);
        border-radius: 10px;
    }
    





}   